<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag "epicmd_navbar_logo_1500x359.png", class: "img-responsive" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Health providers</a></li>
        <li><a href="#">Opportunities</a></li>
        <li class="red"><button class="btn btn-default"><a href="#">Register</a></button></li>
        <li class="blue"><button class="btn btn-default"><a href="#">Register</a></button></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end of nav -->

<!--section one -->
<div class="section_one">
  <div class="container-fluid header">
    <div class="row">
    	<div class="col-md-6 col-md-offset-3 middle_title">
    		<span class="logo_hero"><%= image_tag "epicmd_navbar_logo_1500x359.png", class: "img-responsive center-block" %></span>
    		<br>
    		<h3>Your Own Private Doctor On-line, Anytime</h3>
    		<div class="call_to_action">
    			<p>
    				<span class="left_button"><button type="button" class="btn btn-default btn-lg">LEARN MORE</button></span>
    				<span class="right_button"><button type="button" class="btn btn-default btn-lg">START</button></span>
    			</p>
    		</div>
    	</div>
    </div>
  </div>
</div>

<!-- section two -->
<div class="section_two">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 middle_title">
        <h1>How Does EpicMD&trade; Work?</h1>
        <lead>What sets EpicMD™ apart is our innovative digital medicine platform, which will provide you with around-the-clock, direct access to the best virtual health care available.</lead>
      </div>
    </div>
    <div class="row images">
      <div class="col-md-6">
        <%= image_tag "app_horizontally_flipped_1900x1361.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-md-6 left_content">
        <h2>It's as easy as 1-2-3.</h2>
        <lead>The EpicMD&trade; platform, in partnership with our network of the world's leading physicians, will allow you to connect directly with a doctor at anytime from where it is most convenient for you.</lead>
        <ul>
          <li class="number_1">1. Register yourself & your family.<br>
            <p>Our doctors will review your medical history, listen to your concerns, and provide the treatment you need.</p>
          </li>
          <li class="number_2">2. Choose a doctor. <br>
            <p>All EpicMD healthcare professionals are board-certified and licensed. Established and enjoy a lasting partnership that you can count on.</p>
          </li>
          <li class="number_3">3. Meet With Your Doctor In A Virtual Office. <br>
            <p>Receives access to personalized medical support when and where you need it.</p>
          </li>
          <li><span class="learn_more"><button type="button" class="btn btn-default btn-lg">Large button</button></span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 app_buttons">
        <%= image_tag "app_buttons_297x56.png", class: "img-responsive center-block" %>
      </div>
    </div>
  </div>
</div>
<!-- end of container-fluid -->

<!-- section three -->
<div class="section_3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>EpicMD provides a wide range of care</h1>
      </div>
    </div>
    <div class="row list">
      <div class="col-md-4">
        <ul>
          <li>Cold & flu symptoms</li>
          <li>Bronchitis</li>
          <li>Acne</li>
          <li>Ear infection</li>
          <li>Conjunctivitis</li>
          <li>Allergies</li>
          <li>Pink eye</li>
        </ul>
      </div>
      <div class="col-md-4">
         <ul>
          <li>Cold & flu symptoms</li>
          <li>Bronchitis</li>
          <li>Acne</li>
          <li>Ear infection</li>
          <li>Conjunctivitis</li>
          <li>Allergies</li>
          <li>Pink eye</li>
        </ul>
      </div>
      <div class="col-md-4">
         <ul>
          <li>Cold & flu symptoms</li>
          <li>Bronchitis</li>
          <li>Acne</li>
          <li>Ear infection</li>
          <li>Conjunctivitis</li>
          <li>Allergies</li>
          <li>Pink eye</li>
        </ul>
      </div>  
    </div>
  </div>
</div>

<!-- section four -->
<div class="section_4">
  <div class="conainer-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 our_mission">
        <h1>Our Mission</h1>
        <lead>
          Don’t want to sit in a crowded waiting room and get coughed on? Have a dozen errands to run after picking up the kids at school? Stuck at the office with back to back meetings? You need EpicMD™
          With EpicMD, you’ll never have to wait in line to see a medical expert again because your personal doctor is always on standby. 
        </lead>
      </div>
    </div>
    <div class="row  our_mission_images">
      <div class="col-md-4">
        <%= image_tag "heart_900x833.png", class: "image-responsive center-block heart" %>
        <h3>Get Care to Give Care</h3>
        <p>
          Consultations are delivered via our HIPAA compliant and encrypted live video, audio, and messaging platform and can be accessed via smartphone,  tablet, laptop, or other Internet-enabled devices.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "id_card_823x1238.png", class: "image-responsive center-block id_card" %>
        <h3>Safe & Secured</h3>
        <p>
          With our premium modern healthcare experience, not only will you have access to a network of thousands of doctors, you will also have access to a large list of useful benefits. 
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "bell_900x825.png", class: "image-responsive center-block bell" %>
        <h3>Enjoy Benefits</h3>
        <p>
          We offer our users with the opportunity to help others get help by providing much-needed care to others with our Get 1 Give 1 program. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="call_to_action">
          <p>
            <span class="left_button"><button type="button" class="btn btn-default btn-lg">LEARN MORE</button></span>
            <span class="right_button"><button type="button" class="btn btn-default btn-lg">SIGN UP</button></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section five -->
<div class="section_5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 community">
        <h1>Join The EpicMD&trade; Community</h1>
        <p>
          EpicMD™ was born to make the world a healthier place for all. One of our core values is to ensure that the mobile health revolution benefits those at the bottom of the economic pyramid as it will for those at the top.           
        </p>
        <span class="promote"><button type="button" class="btn btn-default btn-lg">Large button</button></span>
      </div>
    </div>
  </div>
</div>

<!-- section six-->
<div class="section_6">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 knowledge_center">
        <h1>Knowledge Center</h1>
        <p>
          Not only do our members utilize around-the-globe access to elite healthcare service and support. But, they can also take advantage of of our knowledge center to stay informed on the latest and greatest in modern medicine. 
        </p>
      </div>
    </div>
  </div>
</div>

<!-- section seven -->
<div class="section_7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <a class="epicmd_footer_logo" href="#"><%= image_tag "epicmd_footer_logo_946x227.png", class: "img-responsive center-block" %></a>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h5>ABOUT US</h5>
            <ul>
              <li>Our Mission</li>
              <li>Advisory board</li>
              <li>Investor relations</li>
              <li>Careers</li>
              <li>Contact Us</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>THE PRODUCT</h5>
            <ul>
              <li>How it works</li>
              <li>Benefits</li>
              <li>Our Doctors</li>
              <li>The opportunity</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>KNOWLEDGE CENER</h5>
            <ul>
              <li>Media</li>
              <li>Blog</li>
              <li>Resources</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 search_form">
        <h5>STAY IN TOUCH</h5>
        <form>
          <div class="form-group">
            <input type="password" placeholder="Your Email" class="form-control">
            <button type="submit" class="btn btn-success">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p>&copy;2016 Epic.md.</p>
      </div>
      <div class="col-md-6 two_icons">
        <p><span class="glyphicon glyphicon-earphone"></span> (954)520-5261</p>
        <p><span class="glyphicon glyphicon-envelope"></span> support@epic.md</p>
      </div>
    </div>
  </div>
</div>
